/*Inicio Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed, figure, figcaption, footer, form, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, form, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
    font-size: auto;
}
a{
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table#posts {
    border-collapse: separate;
}
/*Fin Reset*/
.tests_reg{
    margin-left: 40px;
    background-color: #0f5974;
    width: auto;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
.tests_reg:hover{
    background-color: #5bc0de;
    cursor: pointer;
}
.lado{
    width: 67%;
    text-align: justify;
    vertical-align: middle;
    display: inline-block;
}
#d_spc{
    width: 27%;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group{
    margin-bottom: 20px;
}
.form-control{
    border: 1px solid #e2e2e4;
    padding: 6px 12px;
    width: 95%;
    border-radius: 5px;
    box-shadow: none;
}
body {
  color: #000;
  background: white;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: auto;
}
#unalTop {
  position: relative;
  margin-bottom: 30px; //Eliminar Luego por el espacio para login
  z-index: 1;
}
#unalTop .tx-srlanguagemenu {
  float: right;
  margin: 0 5px;
  color: white;
}
#unalTop .tx-srlanguagemenu {
  background: transparent;
  color: #fff;
  border: none;
  background: transparent;
  border: none;
  color: #fff;
  -webkit-text-shadow: none!important;
  -ms-text-shadow: none!important;
  -moz-text-shadow: none!important;
  -o-text-shadow: none!important;
  -khtml-text-shadow: none!important;
  text-shadow: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  -o-box-shadow: none!important;
  -ms-box-shadow: none!important;
  -khtml-box-shadow: none!important;
  box-shadow: none!important;
  border: 0!important;
}
#unalTop .logo {
  -moz-transition: width .5s, height .5s;
  -ms-transition: width .5s, height .5s;
  -o-transition: width .5s, height .5s;
  -webkit-transition: width .5s, height .5s;
  background: no-repeat url(../img/sealBck.png);
  float: left;
  height: auto;
  margin-left: 10px;
  position: absolute;
  text-align: center;
  transition: width .5s, height .5s;
  width: 234px;
  height: 135px;
  z-index: 2;
}
#unalTop .logo img {
  -moz-transition: width .5s, height .5s;
  -ms-transition: width .5s, height .5s;
  -o-transition: width .5s, height .5s;
  -webkit-transition: width .5s, height .5s;
  margin: 33px auto;
  transition: width .5s, height .5s;
  width: 192px !important;
  height: 70px !important;
}
#unalTop .firstMenu {
  background-color: #666;
  height: 30px;
}
.navigation {
  background: #464646;
  color: #fff;
  height: 80px;
  position: relative;
}
#unalTop .seal {
  float:right;
  display: inline-block;
  margin-top: -5.35%;
  margin-right: 0.5%;
  position:relative;
  z-index: 5;
}
.navigation .site-url {
  background: no-repeat 0 0 url(../img/locDot.png);
  padding: 0 0 0 20px;
  float: left;
  height: 17px;
  margin: 1% 1% 1% 19%;
  line-height: 18px;
  font-size: 1.4em;
}
.navigation .menu {
    clear: both;
    margin: 0 0 0 19%;
    font-size: 1.4em;
}
.dropdown-menu {
  min-width: 0;
  background: #333;
  border-color: #222;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}
.btn, .btn-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
}
#current{
    color:white;
    background: #0f5974;
    border-radius: 5px;
}
.menu .btn:hover {
  background: #666;
  border-radius: 5px;
}
.navigation a{
	text-decoration: none;
	color: white;
}
.header {
  background: #fff;
  border-bottom: 1px solid #f1f2f7;
  padding-bottom: 10px;
}
#content{
    margin: 1.5% 5% 2% 5%;
    font-size: 1.4em;
}
.up{
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.logogaia{
    vertical-align: middle;
    width: 80%;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
}
#img_gaia{
    width: 22%;
}
#tit_gaia{
    text-align: center;
    font-size: 3.8em;
    width: 56%;
}
#login_gaia{
    text-align: right;
    width: 20%;
}
.top-nav{
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
}
#textRecuerdame{
  width: 120px;
  display: inline-block;
}

#login_gaia>.field_usu>#arealoggin{
    text-align: center;
    margin-bottom: 10px;
}

#login_gaia>.field_usu>#arealoggin li{
    list-style:none;
    text-align:left;
    position:relative;
}

#login_gaia>.field_usu>#arealoggin li a{
    color: white;
    text-decoration:none;
    padding: 5px;
    display:block;
}

#login_gaia>.field_usu>#arealoggin li li a{
    width:auto;
    display:block;
}

#login_gaia>.field_usu>#arealoggin li ul{
    width: auto;
    margin:0;
    display:none;
    background:#464646;
    border:1px #ccc solid;
    position: absolute;
    left:0%;
    top:102%;
}

#login_gaia>.field_usu>#arealoggin li ul li:hover{
    background:#666;
}

#login_gaia>.field_usu>#arealoggin li:hover ul{
    display: block;
}

#login_gaia>#form1>.field_usu>#arealoggin {
  color: #222;
  font-weight: bold;
  float: right;
  margin-top: -10px;
  margin-right: 30px;
  vertical-align: middle;
}
.link{
  color: #00A3D6;
  font-size: 11pt;
}
.link:hover{
  color: blue;
  font-size: 11pt;
}
#linklogo{
  text-decoration: none;
}
.user {
  padding: 3px 8px;
  width: 120px;
  font-size: 14px;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  border: 1px solid #666;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.defaultButton {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #464646;
  border-radius: 3px;
  border: 1px solid transparent;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 1px;
  padding-right: 1px;
  height: 23px;
  width: auto;
  font-size: 12px;
  font-weight: bold;
}
.defaultButton:hover {
  background: #666;
}
#roles ul {
  display: none;
}
#roles:hover > ul{
    display: block;
}
#registrarse {
  text-decoration: none;
}
#quitarMargin {
  margin-top: 8px;
  margin-left: -3px;
}
#footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
    color: white;
    background: #666;
}
#footer a{
    text-decoration: none;
    color: green;
}
.aplicaciones{
    text-align: center;
    margin-top: 20px;
}
.aplicacion{
    vertical-align: text-top;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
    height: auto;
}
.nomb_apps{
    margin-top: 15px;
    border-bottom: 1px solid black;
    font-size: 18pt;
    font-weight: bold;
}
.desc_apps{
    text-align: left;
    font-size: small;
    color: gray;
}
.menu_apps{
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid black;
}
.img_apps{
    width:auto;
    height:50px;
}
.hv_apps{
    color: black;
    text-decoration: none;
}
.nomb_apps:hover{
    color: gray;
}

.field_usu{
    font-size: 10pt;
    padding-left: 5px;
    border: 1px solid #cecece;
}

.field_usu>legend{
    margin: 5px;
    padding: 5px;
}

.field_reg>legend{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    display: block;
    margin-bottom: 20px;
    background: #464646;
    color: white;
}
.field_reg{
    padding-left: 20px;
    border: 1px solid #cecece;
    background: white;
    margin-bottom: 10px;
}
.foot{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
#info{
    width: 30%;
}
#medio{
    width: 30%;
}
#contacto{
    width: 30%;
}